.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 5px 0;
}

.links {
  width: 30%;
  display: flex;
}
@media only screen and (max-width: 1030px) {
  .links {
    display: none;
  }
}
.links a {
  margin: 0 15px;
  color: hsl(236, 13%, 42%);
  text-decoration: none;
  font-weight: bold;
}
.links a:hover {
  color: hsl(240, 100%, 5%);
}
.links div {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.open-menu {
  width: 30%;
  display: none;
  justify-content: flex-end;
}
@media only screen and (max-width: 1030px) {
  .open-menu {
    display: flex;
  }
}
.open-menu img {
  width: 30px;
  cursor: pointer;
}

.menu {
  display: none;
  width: 25%;
  height: 100vh;
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 20px 0px black;
}
@media only screen and (max-width: 1030px) {
  .menu {
    display: block;
  }
}

.menu-content {
  padding: 20px;
}

.close-icon {
  display: flex;
  justify-content: flex-end;
}
.close-icon img {
  width: 30px;
  cursor: pointer;
}
.menu-links {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.menu-links a {
  margin: 10px 0;
  text-decoration: none;
  font-weight: bold;
  color: hsl(236, 13%, 42%);
}
.menu-links a:hover {
  color: hsl(240, 100%, 5%);
}
